<mat-card class="card-wrapper">
  <mat-card-content class="time-wrapper">
    <mat-card-title class="time"
      >{{ hours }}:{{ minutes }}:{{ seconds }}</mat-card-title
    >
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="start()">Start</button>
    <button mat-stroked-button color="primary" (click)="stop()">Stop</button>
    <button mat-stroked-button color="primary" (dblclick)="wait()">Wait</button>
    <button mat-stroked-button color="primary" (click)="reset()">Reset</button>
  </mat-card-actions>
</mat-card>
